{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Overview of Study
{% endblock %}

{% block content %}
	Welcome! Here is a brief overview of the study.<br><br>

	<u><b>What will I have to do?</b></u><br>
	This study consists of a set of survey questions which will take about 2 minutes.<br><br>

	<u><b>How much payment will I receive for my participation?</b></u><br>
	You will be paid 1.50 USD (or 1.20 British Pounds) for completing this survey.<br><br>

	<u><b>Please note!</b></u><br>
	There will be several <b>Attention Check</b> questions throughout this study meant to test whether you are paying attention. If you fail to correctly complete one or more of these Attention Check questions, you may not be paid.

	{% next_button %}
{% endblock %}


