{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Survey
{% endblock %}

{% block content %}
	{% if form.errors %}
	<div class = "custom-form-errors alert alert-danger">
	   {{ form.non_field_errors }}
	</div>
	{% endif %}
	{% formfield player.birth_year %}
	{% formfield player.sex %}
	3. What is your current gender identity?<br>
	{% formfield player.gi_m %}
	{% formfield player.gi_f %}
	{% formfield player.gi_tm %}
	{% formfield player.gi_tf %}
	{% formfield player.gi_gq %}
	{% formfield player.gi_nb %}
	{% formfield player.gi_o %}
	{% formfield player.gi_other %}
	{% formfield player.sexuality %}
	{% formfield player.sexuality_other %}
    {% next_button %}
{% endblock %}